@use '../styles/mixin';

.container {
    margin-top: 180px;
}

.greeting {
    color: var(--color-text-dark);
    display: inline-block;
    
    &Heading{
        font-family: var(--font-secondary);
        font-size: var(--font-xlarge);
        font-weight: 700;
    }

    &SubHeading{
        font-size: var(--font-medium);
        line-height: 100%;
    }

    .gradientPrimary{
        font-weight: bold;
        @include mixin.gradient-font(var(--gradient-primary));
    }
    
    .gradientSecondary{
        font-weight: bold;
        @include mixin.gradient-font(var(--gradient-secondary));
    }
}