:root{
    // Font families
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Cairo', sans-serif;

    // Font sizes
    --font-xsmall: 14px;
    --font-small:  18px;
    --font-medium: 28px;
    --font-large:  36px;
    --font-xlarge: 87px;
}